In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
import sys, os

#sys.path.append(os.path.abspath(os.path.join("../..")))
sys.path.append(os.path.abspath(os.path.join("./scripts")))

In [3]:
import cleaning_functions as clnf
import plotting_functions as pltf

Import data as a dataframe

In [4]:
df = pd.read_csv("data/Week1_challenge_data_source.csv")

Before Cleaning the dataset, we explore what has been stored in it. The column names, how many data points, number of colum etc. All these questions needs to be answered

In [5]:
print("The data has {} rows and {} columns".format(df.shape[0], df.shape[1]))

The data has 150001 rows and 55 columns

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

# Cleaning The Data

In [8]:
miss_df = clnf.missing_values_table(df)

Your selected dataframe has 55 columns.
There are 41 columns that have missing values.

In [9]:
miss_df

,Missing Values,% of Total Values,Dtype
Nb of sec with 37500B < Vol UL,130254,86.8,float64
Nb of sec with 6250B < Vol UL < 37500B,111843,74.6,float64
Nb of sec with 125000B < Vol DL,97538,65.0,float64
TCP UL Retrans. Vol (Bytes),96649,64.4,float64
Nb of sec with 31250B < Vol DL < 125000B,93586,62.4,float64
Nb of sec with 1250B < Vol UL < 6250B,92894,61.9,float64
Nb of sec with 6250B < Vol DL < 31250B,88317,58.9,float64
TCP DL Retrans. Vol (Bytes),88146,58.8,float64
HTTP UL (Bytes),81810,54.5,float64
HTTP DL (Bytes),81474,54.3,float64
Avg RTT DL (ms),27829,18.6,float64
Avg RTT UL (ms),27812,18.5,float64
Last Location Name,1153,0.8,object
MSISDN/Number,1066,0.7,float64
Bearer Id,991,0.7,float64
Nb of sec with Vol UL < 1250B,793,0.5,float64
10 Kbps < UL TP < 50 Kbps (%),792,0.5,float64
UL TP > 300 Kbps (%),792,0.5,float64
50 Kbps < UL TP < 300 Kbps (%),792,0.5,float64
UL TP < 10 Kbps (%),792,0.5,float64
Nb of sec with Vol DL < 6250B,755,0.5,float64
250 Kbps < DL TP < 1 Mbps (%),754,0.5,float64
50 Kbps < DL TP < 250 Kbps (%),754,0.5,float64
DL TP < 50 Kbps (%),754,0.5,float64
DL TP > 1 Mbps (%),754,0.5,float64
Handset Type,572,0.4,object
Handset Manufacturer,572,0.4,object
IMEI,572,0.4,float64
IMSI,570,0.4,float64
Dur. (ms),1,0.0,float64
Total UL (Bytes),1,0.0,float64
Start ms,1,0.0,float64
End,1,0.0,object
End ms,1,0.0,float64
Start,1,0.0,object
Avg Bearer TP DL (kbps),1,0.0,float64
Dur. (ms).1,1,0.0,float64
Activity Duration UL (ms),1,0.0,float64
Activity Duration DL (ms),1,0.0,float64
Avg Bearer TP UL (kbps),1,0.0,float64
Total DL (Bytes),1,0.0,float64

We see that some columns are missing a lot of values. Handeling missing values depend on:
1. percentage of missing values
2. type of values
3. distribution of values

In [10]:
fl_descp = pd.read_excel("data/Field_Descriptions.xlsx")

In [11]:
fl_descp.head(5)

      Fields                                        Description
0  bearer id                             xDr session identifier
1  Dur. (ms)                  Total Duration of the xDR (in ms)
2      Start      Start time of the xDR (first frame timestamp)
3   Start ms  Milliseconds offset of start time for the xDR ...
4        End         End time of the xDR (last frame timestamp)

1. Columns that include unique identifiers, like 'Bearer Id', 'IMSI', 'IMEI'. Rows that have missing ids are useless and should be droped

In [12]:
fl_descp[fl_descp['Fields'].apply(lambda x: x in ['bearer id', 'IMSI', 'IMEI'])]

      Fields                               Description
0  bearer id                    xDr session identifier
7       IMSI  International Mobile Subscriber Identity
9       IMEI   International Mobile Equipment Identity

In [13]:
df_clean = df.dropna(subset=['Bearer Id', 'IMSI', 'IMEI'])

# update what are the missing values in this new dataframe df_clean

miss_df = clnf.missing_values_table(df_clean)

Your selected dataframe has 55 columns.
There are 24 columns that have missing values.

2. "Last Location Name", "MSI SDN/Number" and "DL TP < 50 Kbps (%)" columns have little missing data, we can drop them

In [14]:
fl_descp[fl_descp['Fields'].apply(lambda x: x in ["Last Location Name", "MSISDN/Number"])]

                Fields                                        Description
8        MSISDN/Number  MS International PSTN/ISDN Number of mobile - ...
10  Last Location Name  User location call name (2G/3G/4G) at the end ...

In [15]:
fl_descp[fl_descp['Fields'] == 'DL TP < 50 Kbps (%)'].Description.to_list()

['Duration ratio when Bearer Downlink Throughput < ….']

In [16]:
df_clean = df_clean.dropna(subset=["Last Location Name", "MSISDN/Number"])

In [17]:
miss_df = clnf.missing_values_table(df_clean)

Your selected dataframe has 55 columns.
There are 22 columns that have missing values.

In [18]:
DL_columns = ['DL TP > 1 Mbps (%)', '250 Kbps < DL TP < 1 Mbps (%)', 
              '50 Kbps < DL TP < 250 Kbps (%)', 'DL TP < 50 Kbps (%)']

UL_columns = ['UL TP > 300 Kbps (%)', '50 Kbps < UL TP < 300 Kbps (%)', 
              '10 Kbps < UL TP < 50 Kbps (%)', 'UL TP < 10 Kbps (%)']

3. DL_columns and UL_columns have little missing data, we can drop them

In [19]:
fl_descp[fl_descp['Fields'].apply(lambda x: (x in DL_columns) | (x in UL_columns))]

,Fields,Description
17,DL TP < 50 Kbps (%),Duration ratio when Bearer Downlink Throughput...
18,50 Kbps < DL TP < 250 Kbps (%),Duration ratio when Bearer Downlink Throughput...
19,250 Kbps < DL TP < 1 Mbps (%),Duration ratio when Bearer Downlink Throughput...
20,DL TP > 1 Mbps (%),Duration ratio when Bearer Downlink Throughput...
21,UL TP < 10 Kbps (%),Duration ratio when Bearer Uplink Throughput < ….
22,10 Kbps < UL TP < 50 Kbps (%),Duration ratio when Bearer Uplink Throughput r...
23,50 Kbps < UL TP < 300 Kbps (%),Duration ratio when Bearer Uplink Throughput r...
24,UL TP > 300 Kbps (%),Duration ratio when Bearer Uplink Throughput > ….

In [20]:
df_clean= df_clean.dropna(how = 'all', subset= DL_columns)
df_clean= df_clean.dropna(how = 'all', subset= UL_columns)

miss_df = clnf.missing_values_table(df_clean)

Your selected dataframe has 55 columns.
There are 14 columns that have missing values.

In [23]:
df_clean= df_clean.dropna(subset= ['Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B'])

miss_df = clnf.missing_values_table(df_clean)
miss_df

Your selected dataframe has 55 columns.
There are 12 columns that have missing values.

,Missing Values,% of Total Values,Dtype
Nb of sec with 37500B < Vol UL,127353,86.7,float64
Nb of sec with 6250B < Vol UL < 37500B,109246,74.4,float64
Nb of sec with 125000B < Vol DL,95243,64.8,float64
TCP UL Retrans. Vol (Bytes),94650,64.4,float64
Nb of sec with 31250B < Vol DL < 125000B,91458,62.3,float64
Nb of sec with 1250B < Vol UL < 6250B,90777,61.8,float64
Nb of sec with 6250B < Vol DL < 31250B,86336,58.8,float64
TCP DL Retrans. Vol (Bytes),86305,58.8,float64
HTTP UL (Bytes),80085,54.5,float64
HTTP DL (Bytes),80031,54.5,float64
Avg RTT DL (ms),26145,17.8,float64
Avg RTT UL (ms),26125,17.8,float64